[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11
[submodule "include/motor_messages"]
	path = include/motor_messages
	url = ../motor_messages
	branch = main
[submodule "3rdparty/obot-protocol"]
	path = 3rdparty/obot-protocol
	url = ../obot-protocol
